nav {
  margin: 80px 0 75px;
  ul {
    li {
      list-style: none;
      display: inline-block;
      padding: 0px 30px;

      &.active {
        span {
          color: #16cd53;
        }
      }

      span {
        color: #391400a3;
        user-select: none;
        line-height: 32px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
