@import "../../styles/variables.scss";

.header {
  height: 64px;
  background: $primary-bg;
  display: flex;
  align-items: center;
  justify-content: space-around;

  nav {
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
        padding: 15px 60px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }

        a {
          color: #fff;
          display: inline-block;
          text-decoration: none;
        }
      }
    }

    @media screen and (max-width: 1040px) {
      display: none;
    }
  }
  &__btn {
    text-transform: uppercase;
    color: #fff;
    background: $primary-bg;
    width: 138px;
    padding: 10px 0;

    border: 1px solid #ffffff4b;
    border-radius: 6px;
    @media screen and (max-width: 1040px) {
      display: none;
    }
  }
}
